@import "/~src/assets/scss/varible";
@import "/~src/assets/scss/mixin";
.warp {
  position: relative;
}

.note-card {
  position: absolute;
  width: calc(50% - 10.5px);
  @include media(sm){
    width: 245px;
  }
  @include media(md){
    width: 220px;
  }
  @include media(lg){
    width: 222px;
  }
  @include media(xl){
    width: 267px;
  }


}

.note-header-image {
  background-image: url('../../../assets/img/userPic.png');
  background-size: cover;
}

