.warp {
  position: relative;
}

.note-card {
  width: 300px;
  position: absolute;
}

.note-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

