<div class="notes">
  <div class="note-head">
    <app-search></app-search>
  </div>
  <div class="Waterfall">
    <div class="container">
      <div class="warp" #warp>
        <mat-card class="note-card">
          <img mat-card-image="" src="https://material.angular.io/assets/img/examples/shiba2.jpg"
               alt="Photo of a Shiba Inu">
          <mat-card-header>
            <div mat-card-avatar="" class="note-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button="">LIKE</button>
            <button mat-button="">SHARE</button>
          </mat-card-actions>
        </mat-card>
        <mat-card class="note-card">
          <img mat-card-image=""
               src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1547551684507&di=dfb16d34ca5767c9e3df369e2c5ac220&imgtype=0&src=http%3A%2F%2Fpic17.photophoto.cn%2F20101203%2F0036036887895158_b.jpg"
               alt="Photo of a Shiba Inu">
          <mat-card-header>
            <div mat-card-avatar="" class="note-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button="">LIKE</button>
            <button mat-button="">SHARE</button>
          </mat-card-actions>
        </mat-card>
        <mat-card class="note-card">
          <img mat-card-image=""
               src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1547551684507&di=dfb16d34ca5767c9e3df369e2c5ac220&imgtype=0&src=http%3A%2F%2Fpic17.photophoto.cn%2F20101203%2F0036036887895158_b.jpg"
               alt="Photo of a Shiba Inu">
          <mat-card-header>
            <div mat-card-avatar="" class="note-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button="">LIKE</button>
            <button mat-button="">SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
