<app-banner [banner]="banner">
</app-banner>

<div class="content text-center">
  <div class="scenery-list">
    <div class="container">
      <div class="scenery-list-title font-italic">
        <h2 class="text-secondary">Come on!</h2>
          <p>热门景点</p>
      </div>
      <div class="row my-4">

        <div class="col-md-4 my-1" *ngFor="let scenery of sceneries">
          <a [routerLink]="['/food',scenery.id]" class="card rounded" >
            <img class="card-img" [src]="scenery.coverUrl" alt=“芙蓉吉鲍”>
            <h3 class="card-title">{{scenery.title}}</h3>
            <p class="card-text">{{scenery.declaration}}</p>
          </a>
        </div>

      </div>
    </div>
  </div>
  <div class="food-list bg-light pb-3">
    <div class="container">
      <p class="food-list-title my-3 text-secondary font-italic">美食诱惑</p>
      <div class="row my-4">

        <div class="col-md-4 my-1" *ngFor="let food of foods">
          <a [routerLink]="['/food',food.id]" class="card rounded" >
            <img class="card-img" [src]="food.coverUrl" alt=“芙蓉吉鲍”>
            <h3 class="card-title">{{food.title}}</h3>
            <p class="card-text">{{food.declaration}}</p>
          </a>
        </div>

      </div>
    </div>
  </div>
  <app-notes-list></app-notes-list>
</div>
