<app-banner [isSubBanner]="false" [imgSrc]="'https://ftrybe.oss-cn-shenzhen.aliyuncs.com/foods/37a0b763-4c2c-4d59-abb0-100cd1647f36.png?Expires=1551269707&OSSAccessKeyId=TMP.AQFB2znNR42uVRFny6TDI-GO8VRj7twIT-ctvH2Xy2AIxWiLoktdZ_wg4TSNADAtAhRGNH-4v4mmWDjQn0i_4GF-NfMV7QIVAN81qwkTm1rdtKm-twOZ9lVu8vAk&Signature=k22tBgKzJqR9MW15CilQneKh4%2FE%3D'">
  <h1 class="card-title">罗源牛澳湾旅游项目开工　投资30亿规划用地3500亩</h1>
  <p class="card-text text-light"> It uses utility classes for typography and spacing to space content out
    within the larger container.</p>
</app-banner>
<div class="content text-center">
    <div class="scenery-list">
        <div class="container">
            <div class="scenery-list-title font-italic">
                <h2 class="text-secondary">Come on!</h2>
                <p>热门景点</p>
            </div>
            <div class="row my-4">
                <div class="col-md-4 my-1">
                    <a class="card rounded" href="#">
                        <img class="card-img" src="./assets/img/3.jpg" alt=“海洋世界”>
                        <h3 class="card-title">罗源湾海洋世界</h3>
                        <p class="card-text">福州罗源湾海洋世界旅游区是国家AAAA级旅游景区
                            ，坐落于福州市罗源湾滨海新城，占地面积约300亩，拥有水域面积6000余亩，是世纪金源集团斥巨资打造的大型滨海休闲游乐度假。</p>
                    </a>
                </div>
                <div class="col-md-4 my-1">
                    <a class="card rounded" href="#">
                        <img class="card-img" src="./assets/img/3.jpg" alt=“海洋世界”>
                        <h3 class="card-title">罗源湾海洋世界</h3>
                        <p class="card-text">福州罗源湾海洋世界旅游区是国家AAAA级旅游景区
                            ，坐落于福州市罗源湾滨海新城，占地面积约300亩，拥有水域面积6000余亩，是世纪金源集团斥巨资打造的大型滨海休闲游乐度假。</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="card rounded" href="#">
                        <img class="card-img" src="./assets/img/3.jpg" alt=“海洋世界”>
                        <h3 class="card-title">罗源湾海洋世界</h3>
                        <p class="card-text">福州罗源湾海洋世界旅游区是国家AAAA级旅游景区
                            ，坐落于福州市罗源湾滨海新城，占地面积约300亩，拥有水域面积6000余亩，是世纪金源集团斥巨资打造的大型滨海休闲游乐度假。</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="food-list bg-light pb-3">
        <div class="container">
            <h2 class="food-list-title my-3 text-secondary font-italic">美食诱惑</h2>
            <div class="row">
                <div class="col-md-4">
                    <a class="card rounded" href="#">
                        <img class="card-img" src="./assets/img/3.jpg" alt=“海洋世界”>
                        <h3 class="card-title">罗源湾海洋世界</h3>
                        <p class="card-text">福州罗源湾海洋世界旅游区是国家AAAA级旅游景区
                            ，坐落于福州市罗源湾滨海新城，占地面积约300亩，拥有水域面积6000余亩，是世纪金源集团斥巨资打造的大型滨海休闲游乐度假。</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <div class="card border-0 rounded">
                        <img class="card-img" src="./assets/img/3.jpg">
                        <p class="card-img-overlay" style="bottom:0">罗源湾海洋世界</p>
                        <h3 class="card-title">罗源湾海洋世界</h3>
                        <p class="card-text">福州罗源湾海洋世界旅游区是国家AAAA级旅游景区
                            ，坐落于福州市罗源湾滨海新城，占地面积约300亩，拥有水域面积6000余亩，是世纪金源集团斥巨资打造的大型滨海休闲游乐度假。</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-0 rounded">
                        <img class="card-img" src="./assets/img/3.jpg">
                        <p class="card-img-overlay" style="bottom:0">罗源湾海洋世界</p>
                        <h3 class="card-title">罗源湾海洋世界</h3>
                        <p class="card-text">福州罗源湾海洋世界旅游区是国家AAAA级旅游景区
                            ，坐落于福州市罗源湾滨海新城，占地面积约300亩，拥有水域面积6000余亩，是世纪金源集团斥巨资打造的大型滨海休闲游乐度假。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-notes-list></app-notes-list>
</div>
