@import "../../../../assets/scss/mixin";
.notes-list::before,
.food-list::before {
  margin: 0 auto;
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  border: 1rem solid transparent;
}

.notes-list {
  &:before {
    border-top: 1rem solid #f8f9fa;
  }
}

.food-list {
  &:before {
    border-top: 1rem solid white;
  }
}

.scenery-list-title {
  background: linear-gradient(to right, #fff, rgba($color: #ddd, $alpha: .01), #fff);
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.content {
  a {
    color: #111;

    &:hover {
      text-decoration: none;
      color: #666;
    }
  }

  .card {
    p {
      font-size: 14px;
      text-align: justify;
      padding: 0 16px 16px 16px;
    }

    img {
      @include media(md){
        height: 138px;
      }
      @include media(lg){
        height: 232px;
      }
    }

    &-text {
      overflow: hidden;
      text-overflow: ellipsis;
      height: 4rem;
    }
  }
}
