<ng-template [ngIf]="replies!=null" [ngIfElse]="emptyNote">
  <div class="list-group" *ngFor="let reply of replies">
    <li class="list-group-item list-group-item-action d-flex">
      <span *ngIf="reply.state == 0;else readState" class="r-btn text-white bg-success">未读</span>
      <ng-template  #readState>
        <span class="r-btn text-white bg-secondary">已读</span>
      </ng-template>
      <a (click)="getDetailed(reply)">
        {{reply.fromUserNickname}} 回复了你的评论
      </a>
      <div class="ml-auto" style="font-size: 12px">
        {{reply.createTime | dateConvertPass}}
      </div>
    </li>
  </div>
</ng-template>
<ng-template #emptyNote>
  您没有收到过回复哦 (>_<)
</ng-template>

