
.fa-thumbs-up {
  color: #D50000 !important;;
}

.fa-star {
  color: #ffc107 !important;;
}

.fa-comment {
  color: #2ec6ff !important;;
}

.fa-bell {
  color: black;
}

.fa-home {
  color: #3e28ea !important;;
}

.fa-columns {
  color: #ece945 !important;
}

.fa-file {

}

.fa-sign-out-alt {
  color: black;
}

.fa-list {

}

.fa-angle-left {

}

.fa-user {
  color: black;
}
.fa-eye,
.fa-pen-square,
.fa-trash {
  color: #462727 !important;
}
