<app-banner isSubBanner="true" imgSrc="./assets/img/2.jpg">
  <h1 class="card-title">景点</h1>
</app-banner>
<div class="container">
  <div class="row px-2">
    <div class="col-12 p-0">
      <div class="col-md-12 col-lg-9 p-0">
        <div class="header pt-5 pb-4">
          <h2 class="title">这是一个标题</h2>
          <app-toolbar></app-toolbar>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-9">
      <dl class="row list-horizontal">
        <dt class="col-3">景点名称</dt>
        <dd class="col-9">罗源湾海底世界</dd>
        <dt class="col-3">营业时间</dt>
        <dd class="col-9">平日时间9:00-17:30；节假日时间：8:30-18:00</dd>
        <dt class="col-3">费用说明</dt>
        <dd class="col-9">门票99元</dd>
        <dt class="col-3">地址</dt>
        <dd class="col-9">福建省福州市罗源县滨海新城</dd>
        <dt class="col-3">电话号码</dt>
        <dd class="col-9">12345674223</dd>
        <dt class="col-3">电子邮箱</dt>
        <dd class="col-9">13334342@qq.com</dd>
        <dt class="col-3">备注</dt>
        <dd class="col-9">假装是个备注</dd>
      </dl>
      <h2>地图</h2>
      <div class="map">
        <img src="./assets/img/1.jpg" alt="" width="100%">
      </div>
    </div>
  <div class="col-lg-3 d-none d-lg-block">
    <img src="./assets/img/2.jpg" class="img-thumbnail" alt="">
  </div>
</div>


</div>
