<app-banner isSubBanner="true" imgSrc="./assets/img/2.jpg">
  <h1 class="card-title">景点</h1>
</app-banner>
<div class="container">
  <div class="header pt-5 pb-4">
    <h2 class="title">这是一个标题</h2>
    <app-toolbar></app-toolbar>
  </div>
  <div class="body">
      <img src="./assets/img/1.jpg" width="478" height="278" alt="">
      <p>这是一段还比较长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长
        的测试数据</p>
    <img src="./assets/img/1.jpg">
      <p>这是一段还比较长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长
        的测试数据</p>
    <img src="./assets/img/1.jpg">
  </div>
</div>
