<div class="d-flex flex-column align-items-center justify-content-center"
     style="background:url('./assets/img/404.gif') no-repeat;background-size: cover;width: 100vw;height: 100vh">
    <h2 class="text-light text-shadow" style="text-shadow: -2px 1px 20px #666666;">页面未找到</h2>
    <h4 class="d-block text-light text-shadow" style="text-shadow: -2px 1px 20px #a60900;" (click)="goHome()">
      <i class="fa fa-angle-double-right"></i>
      <span class="home-btn">返回主页</span>
      <i class="fa fa-angle-double-left"></i>
    </h4>
</div>
