<div class="intro">
  <div class="container">
    <div class="intro_wrapper">
      <div class="intro_content text-center">
        <h2 class="intro_title">
          罗源湾旅游网，介绍了罗源本地的一些美食，景点和各个景区的攻略，欢迎广大网友提供更多的攻略
        </h2>
        <ul class="intro_list">
          <li class="intro_list_item"><span (click)="getAnchor('position')" class="intro_modal-trigger">地理位置</span></li>
          <li class="intro_list_item"><span (click)="getAnchor('history')" class="intro_modal-trigger">人文历史</span></li>
          <li class="intro_list_item"><span (click)="getAnchor('about')" class="intro_modal-trigger">关于我们</span></li>
        </ul>
      </div>
      <div class="intro_images">
        <figure class="figure intro_figure-1">
          <img src="./assets/img/1.jpg" class="figure-img img-fluid rounded shadow-sm"
               alt="A generic square placeholder image with rounded corners in a figure.">
          <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>
        <figure class="figure intro_figure-2">
          <img src="./assets/img/2.jpg" class="figure-img img-fluid rounded shadow-sm"
               alt="A generic square placeholder image with rounded corners in a figure.">
          <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>
        <figure class="figure intro_figure-3">
          <img src="./assets/img/3.jpg" class="figure-img img-fluid rounded shadow-sm"
               alt="A generic square placeholder image with rounded corners in a figure.">
          <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>
        <figure class="figure intro_figure-4">
          <img src="./assets/img/4.jpg" class="figure-img img-fluid rounded shadow-sm"
               alt="A generic square placeholder image with rounded corners in a figure.">
          <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>
      </div>
    </div>
    <div class="intro_body">
      <div id="position" style="padding-top: 56px">
        <h3>地理位置</h3>
        <div style="text-align: justify">
          <p>
            罗源县（古属福州府罗源县），是福建省福州市辖县，位于福建省东北沿海，介于北纬26°23′-26°39′，东经119°7′-119°54′之间。南邻
            连江县，西南接福州市、闽侯县，西北接古田县，北与宁德市接壤，东隔海与霞浦东冲半岛相望。全境面积1187.18平方公里，其中陆地面积106
            2.2平方公里，海域、滩涂面积124.98平方公里。境内三面环山，地形为东西长条状，鹫峰山脉东南支脉从西北方向延伸入境，形成众多山岭。地
            势自西而东，三高两低，形如“W”。
          </p>
          <p>
            地貌以山地、丘陵为主，平原狭小。山地主要分布于县北部和西部，山体多呈北东、北西走向,面积443.6平方公里，占全县陆地面积41.76%。
            丘陵分布于西部霍口溪、中部起步溪、百丈溪，河谷两侧及东部半岛等地,面积450.64平方公里，占县陆地面积42.43%。山间盆谷107个，散布于
            山地和高丘陵地区，面积88.31平方公里，占陆地总面积8.31%。平原面积79.65平方公里（含松山、白水两垦区31.02平方公里），占陆地面积7.5%。
          </p>
          <p>
            境内有千米以上高山12座，全县最高峰牛牳山海拔1251米。县境东部临海，有大小海湾9个，岛屿12个，海岸线长129.09公里。
          </p>
        </div>
      </div>
      <div id="history" style="padding-top: 56px">
        <h3>人文历史</h3>
        <div style="text-align: justify">
          <p>罗源县历史悠久，遗留下不少古遗址。1958年12月，在城郊管柄村下林山、华清村华清山、中房乡乾溪村陈太尉宫后山等处发现新石器时代
            文化遗址，采集石镞、石锛等遗物20多件。1987年又在罗源溪、起步溪、护国溪、寿桥溪、中房溪沿岸低山坡上发现新石器时代晚期文化遗址
            和商周文化遗址19处，采集陶罐、陶片93件，石器1件；1987年4月在起步镇硋窑村发现古陶窑址1处。窑址东西长500米，南北宽30米。经对出土
            陶罐鉴定，该窑属唐代遗址；碗窑里窑址位于松山镇小获村碗窑里剃刀梁山脚下。窑址残片堆积层厚约0.5-1米。碗帮平直，座小露胎，表面灰白
            色，内底绘有卷云式、莲花式条纹或密而短的篦纹，经鉴定属宋代瓷窑；罗源城垣始建于明弘治十二年（1499年），经多次重修改建，至万历七
            年（1579年）而大备。墙为花岗石建筑，高2丈，底宽1.3丈，面宽1.1丈，周长381丈，设水关5个，城门5个。民国27年（1938年）拆除城门。
            新中国成立后因建设需要，
            城垣辟为环城公路，仅余北段凤山之巅数处残址；鉴江堡址始建于明洪武年间（1368-1398年），周长300丈，立4城门。今东、南、北3门仍存
            ；濂澳堡址始建于明嘉靖三十九年（1560年），用大石砌筑，长约300米。今面海方向尚存残墙一段。</p>
          <p>
            罗源县文物古迹甚多，现存的寺庙、石塔、古墓葬、雕刻等多系唐宋以来文化遗产。其中糅合五代、宋、明、清建筑之艺术的江南文物瑰宝陈太尉宫，系全国文物保护单位，位于中房乡乾溪村，原为陈氏宗祠，始建于五代后梁开平三年（909年），建造者为由河南固始入闽之陈苏。经历代扩（重）建，宫内占地面积1155平方米，现存建筑包括正殿、配殿、前殿三部分，皆重檐歇山式屋顶。正殿台基高1.2米，通面阔15.5米，通进深25.43米，面积394.17平方米，立柱28根（周长1.16-1.19米）。其中明间主柱皆用柱头科头拱，屋面结构通过其过渡到柱顶；明间上方皆藻井。左右配殿分别建于明、清，前殿建戏台，系清代建筑。陈太尉宫各部分分别展现了五代、宋、明、清建筑艺术与风格，在建筑史上很有研究价值。陈列圣水寺侧栖云洞内的十八罗汉石像，其中16尊系南宋淳祐八年（1248年）石匠陈曾缘刻，为福建省现存最早的石雕罗汉，另2尊属明代作品，像高0.74-0.81米，年龄、体态、神情、衣饰各具特色，无不惟妙惟肖。现为全国文物保护单位。</p>
          <p>唐末五代，大批中州人士相继移居罗源，带来中原文化，推动了罗源文教事业的发展。宋代，境内人文兴盛，县人有著作行世者10余人，其中陈善的《扪虱新话》所论颇有新见，影响较大。明清时期，文人著名创作有陈钧、郑国佐的诗，游彤麟、陈士钦的画，林长存、林上奎的书法等。民间文艺内容丰富，故事、歌谣、谚语、音乐、舞蹈、雕塑、剪纸等形式多样，精彩动人。</p>
          <p>罗源人杰地灵，人才辈出。历代进士有221名，其中宋代203名，元代1名，明代5名，清代12名。历代人物或以丰功伟绩泽被后世，或以高风亮节名垂千古，或以经济、科技、教育、文化、艺术成果造福人民。</p>
        </div>
      </div>
      <div id="about">
        <h3>关于我</h3>
        <div class="card text-white bg-info" style="max-width: 500px">
          <img class="card-img-top" src="./assets/img/1.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">范某人</h5>
            <p class="card-text">这是一个毕业设计作品</p>
          </div>
          <div class="card-footer">
            <p>问题反馈</p>
          </div>
      </div>
    </div>
  </div>
</div>
