<div class="intro">
  <div class="container">
    <div class="intro_wrapper">
      <div class="intro_content text-center">
        <h2 class="intro_title">
          罗源湾旅游网，介绍了罗源本地的一些美食，景点和各个景区的攻略，欢迎广大网友提供更多的攻略
        </h2>
        <ul class="intro_list">
          <li class="intro_list_item"><a href="#" class="intro_modal-trigger">地理位置</a></li>
          <li class="intro_list_item"><a href="#" class="intro_modal-trigger">人文历史</a></li>
          <li class="intro_list_item"><a href="#" class="intro_modal-trigger">旅游宣传</a></li>
          <li class="intro_list_item"><a href="#" class="intro_modal-trigger">关于我们</a></li>
        </ul>
      </div>
      <div class="intro_images">
        <figure class="figure intro_figure-1">
          <img src="./assets/img/1.jpg" class="figure-img img-fluid rounded shadow-sm"
               alt="A generic square placeholder image with rounded corners in a figure.">
          <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>
        <figure class="figure intro_figure-2">
          <img src="./assets/img/2.jpg" class="figure-img img-fluid rounded shadow-sm"
               alt="A generic square placeholder image with rounded corners in a figure.">
          <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>
        <figure class="figure intro_figure-3">
          <img src="./assets/img/3.jpg" class="figure-img img-fluid rounded shadow-sm"
               alt="A generic square placeholder image with rounded corners in a figure.">
          <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>
        <figure class="figure intro_figure-4">
          <img src="./assets/img/4.jpg" class="figure-img img-fluid rounded shadow-sm"
               alt="A generic square placeholder image with rounded corners in a figure.">
          <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
