$evenColor: #f8f9fa;
.intro {
  &_wrapper {
    position: relative;
    min-height: 1000px;
  }
  &_body{

      font-size: 14px;

  }
  &_content {
    width: 100%;
    max-width: 535px;
    margin: 0 auto;
  }
  &_title {
    margin-bottom: 31px;
    font-size: 24px;
    line-height: 42px;
    letter-spacing: .075em;
    font-weight: 400;
  }
  &_list {
    &_item {
      margin-bottom: 17px;
      letter-spacing: .4em;
      text-transform: uppercase;
      list-style-type: none;
      &_item {
        margin-bottom: 17px;
        letter-spacing: .4em;
        text-transform: uppercase;
        list-style-type: none;
      }
    }
  }
  &_modal-trigger {
    text-decoration: none;
    transition: opacity .2s ease-in-out;
    display: inline-block;
    padding: 10px;
    position: relative;
    line-height: 20px;
    color: #282828;
    cursor: pointer;
    &:after {
      display: block;
      width: 42px;
      height: 1px;
      margin: 0 auto;
      transition: all .3s ease-in-out;
      background-color: #282828;
      content: " ";
    }
    &:hover {
      opacity: .8;
      &:after {
        width: 90px;
      }
    }
  }
  &_images {
    display: block;
    .figure {
      position: absolute;
      font-size: 11px;
      line-height: 24px;
    }
  }
  &_figure-1 {
    width: 270px;
    left: 20px;
    top: 113px;
  }
  &_figure-2 {
    width: 388px;
    right: 20px;
    top: 300px;
    text-align: right;
    z-index: 1;
  }
  &_figure-3 {
    width: 225px;
    right: 322px;
    top: 526px;
  }
  &_figure-4 {
    width: 389px;
    left: 135px;
    top: 667px;
  }
  @media screen and (max-width: 1279px) {
    &{
      padding-top: 61px;
    }
    &_wrapper {
      min-height: 1062px;
    }
    &_figure-1 {
      left: 0;
      top: 289px;
    }
    &_figure-2 {
      right: 0;
      top: 539px;
    }
    &_figure-3 {
      right: 300px;
      top: 765px;
    }
    &_figure-4 {
      display: none;
    }

  }
  @media screen and (max-width: 767px) {
    &_title{
      font-size: 18px;
      line-height: 30px;
      padding: 0 7%;
      margin-bottom: 39px;
    }
    &_wrapper {
      min-height: 1100px;
    }
    &_figure-1 {
      width: 219px;
      top: 490px;
      z-index: 2;
    }
    &_figure-2 {
      width: 309px;
      //right: -50px;
      top: 695px;
      text-align: left;
    }
    &_figure-3 {
      right: auto;
      left: 50%;
      margin-left: -93px;
      top: 971px;
    }
    &_figure-4 {
      display: none;
    }
  }
}
