<div class="maintain"
     [ngStyle]="note.coverUrl?{'background-image':'url('+note.coverUrl+')'} : null">
  <div class="header text-center" style="">
    <h1 [innerText]="note.title"></h1>
    <div class="fr">
      <div class="avatar">
        <img class="" [src]="note.userPicture">
      </div>
      <div class="name" [innerText]="note.userNickname">这是一个用户名</div>
    </div>
  </div>
</div>
<div class="note-body">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-9 content-warp">
        <div class="control">
          <div class="fr">
            <a href="javascript:void(0)"><i class="fa fa-thumbs-up"></i>点赞 {{note.praiseCount}}</a>
            <a href="javascript:void(0)"><i class="fa fa-star"></i>收藏 {{note.collectionCount}}</a>
            <a href="javascript:void(0)" (click)="getAnchor('comment')"><i class="fa fa-comment" ></i>评论 29</a>
            <a href="javascript:void(0)"><i class="fa fa-eye"></i>浏览</a>
          </div>
        </div>
        <div class="content">
          <div [innerHTML]="note.content"></div>
          <div class="text-center"
               style="font-size: 3rem;color: #aaaaaa;padding: 16px 0;border-top: 1px dashed #e6e6e6;margin-top: 16px">
            ~END~
          </div>
        </div>
        <app-comment class="anchor d-block" id="comment"></app-comment>
      </div>
      <div class="col-lg-3 catalog-warp" #warp [class.open]="isOpen">
        <div class="catalog" #catalogWarp>
          <h3 class="catalog-header"><span class="fa fa-list"></span>游记目录</h3>
          <ng-container *ngIf="catalogs ? catalogs.toString().length < 1 : false">
            <ul>当前文章无目录</ul>
          </ng-container>
          <ul class="nav scroll" *ngFor="let catalog of catalogs index as i">
            <li class="nav-item catalog-link" (click)="getAnchor(i)"><a href="javascript:void(0)"
                                                           [innerText]="catalog.innerHTML">这是一个目录吧</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="toolbar-bottom d-lg-none">
  <div class="menu item" (click)="toggleMenu()">
    <span class="fa fa-list"></span>
    <span class="d">目录</span>
  </div>
  <div class="thumbs-up item">
    <span class="fa fa-thumbs-up"></span>
    <span class="d">点赞 {{note.praiseCount}}</span>
  </div>
  <div class="collection item">
    <span class="fa fa-star"></span>
    <span class="d">收藏 {{note.collectionCount}}</span>
  </div>
  <div class="comment item">
    <span class="fa fa-comment"></span>
    <span class="d" (click)="getAnchor('comment')">评论</span>
  </div>
</div>
