<div class="list-group">
  <li class="list-group-item list-group-item-action d-flex"><a href="#">这是一个标题</a>
    <div class="ml-auto"><span class="fa fa-pen-square"></span><span class="fa fa-trash"></span><span
      class="fa fa-eye"></span></div>
  </li>
  <li class="list-group-item list-group-item-action d-flex"><a href="#">这是一个标题</a>
    <div class="ml-auto"><span class="fa fa-pen-square"></span><span class="fa fa-trash"></span><span
      class="fa fa-eye"></span></div>
  </li>
  <li class="list-group-item list-group-item-action d-flex"><a href="#">这是一个标题</a>
    <div class="ml-auto"><span class="fa fa-pen-square"></span><span class="fa fa-trash"></span><span
      class="fa fa-eye"></span></div>
  </li>
  <li class="list-group-item list-group-item-action d-flex"><a href="#">这是一个标题</a>
    <div class="ml-auto"><span class="fa fa-pen-square"></span><span class="fa fa-trash"></span><span
      class="fa fa-eye"></span></div>
  </li>
  <li class="list-group-item list-group-item-action d-flex"><a href="#">这是一个标题</a>
    <div class="ml-auto"><span class="fa fa-pen-square"></span><span class="fa fa-trash"></span><span
      class="fa fa-eye"></span></div>
  </li>
  <li class="list-group-item list-group-item-action d-flex"><a href="#">这是一个标题</a>
    <div class="ml-auto"><span class="fa fa-pen-square"></span><span class="fa fa-trash"></span><span
      class="fa fa-eye"></span></div>
  </li>
  <li class="list-group-item list-group-item-action d-flex"><a href="#">这是一个标题</a>
    <div class="ml-auto"><span class="fa fa-pen-square"></span><span class="fa fa-trash"></span><span
      class="fa fa-eye"></span></div>
  </li>
</div>
