<h1>选择地图</h1>
<mat-dialog-content>

  <baidu-map class="map" [options]="mapOptions" (clicked)="clickMap($event)">
    <marker [point]="markers[0].point" (loaded)="setAnimation($event)"></marker>
  </baidu-map>

  <mat-form-field class="example-full-width">
    <input type="text" placeholder="请输入大致位置" aria-label="String" matInput
           [(ngModel)]="address" [matAutocomplete]="auto" (ngModelChange)="valueChange()" >
    <mat-autocomplete #auto="matAutocomplete" >
      <mat-option *ngFor="let option of options" [value]="option.name" (onSelectionChange)="setLocation(option)">
        {{option.name}}({{option.district}})
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <form>
    <mat-form-field>
      <input matInput placeholder="经度" [(ngModel)]="map.lng" name="lng">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="纬度" [(ngModel)]="map.lat" name="lat">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="名称" [(ngModel)]="map.title" name="title">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="地址" [(ngModel)]="map.address" name="address">
    </mat-form-field>
  </form>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="this.map">确定</button>
  <button mat-button mat-dialog-close="">取消</button>
</mat-dialog-actions>
