<h1>选择地图</h1>
<mat-dialog-content>
  <baidu-map  class="map" [options]="mapOptions" (clicked)="clickMap($event)">
    <marker [point]="markers[0].point" (loaded)="setAnimation($event)"></marker>
  </baidu-map>
  <form>
    <mat-form-field>
      <input matInput placeholder="经度" [(ngModel)]="map.lng" name="lng">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="纬度" [(ngModel)]="map.lat" name="lat">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="名称" [(ngModel)]="map.title" name="title">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="地址" [(ngModel)]="map.address" name="address">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="this.map">确定</button>
  <button mat-button mat-dialog-close="">取消</button>
</mat-dialog-actions>
