<div class="modal fade" id="loginAndRegstModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-login-tab" data-toggle="tab" href="#nav-login" role="tab" aria-controls="nav-login" aria-selected="true">登录</a>
                        <a class="nav-item nav-link" id="nav-register-tab" data-toggle="tab" href="#nav-register" role="tab" aria-controls="nav-register" aria-selected="false">注册</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show p-sm-2 active" id="nav-login" role="tabpanel" aria-labelledby="nav-login-tab">
                        <div class="login">
                            <div class="form-group">
                                <label for="loginName">账号</label>
                                <input type="text" class="form-control" id="loginName" placeholder="请输入你的账号">
                            </div>
                            <div class="form-group">
                                <label for="loginPwd">密码</label>
                                <input type="password" class="form-control" id="loginPwd" placeholder="请输入你的密码">
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>
                            <button id="loginBtn" class="btn btn-secondary w-100">登录</button>
                        </div>
                        <div class="alert alert-light float-right">
                            <span>忘记密码了？点击<a class="alert-link" href="#">找回密码</a></span>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-register" role="tabpanel" aria-labelledby="nav-register-tab">
                        <div class="register">
                            <div class="form-group">
                                <label for="regstName">账号</label>
                                <input type="text" class="form-control" id="regstName" placeholder="请输入你的账号">
                            </div>
                            <div class="form-group">
                                <label for="regstPwd">密码</label>
                                <input type="password" class="form-control" id="regstPwd" placeholder="请输入你的密码">
                            </div>
                            <div class="form-group">
                                <label for="reRegstPwd">确认密码</label>
                                <input type="password" class="form-control" id="reRegstPwd" placeholder="请再次输入你的密码">
                            </div>
                            <div class="form-group">
                                <label for="random">验证码</label>
                                <div class="form-inline">
                                    <input type="text" class="form-control col-sm-8" id="random" placeholder="请输入验证码">
                                    <img  id="randomCode" class="col-sm-4 rounded"  src="./randomCode" />
  
                                </div>
                            </div>
                            <button id="regstBtn" class="btn btn-secondary w-100">注册</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>