<app-content-header
  [icon]="'supervisor_account'"
  [title]=" '添加景点'"
  [hideBreadcrumb]="false"
  [hasBgImage]="true"
  [class]="'pb-5'"></app-content-header>
<form [formGroup]="form">
  <mat-vertical-stepper linear>
    <mat-step>
      <ng-template matStepLabel>封面设置</ng-template>
      <mat-form-field class="w-100">
        <input matInput placeholder="标题" formControlName="title">
      </mat-form-field>
      <label class="label_upload" [ngStyle]="{'background-image': 'url('+ oldCoverImage+')'}"
             (click)="openCropperDialog()">点击更改图片</label>
      <div>
        <button mat-button matStepperNext type="button">下一项</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>简介</ng-template>
      <mat-form-field class="w-100">
        <input matInput placeholder="景点名称" formControlName="name">
      </mat-form-field>
      <mat-form-field class="w-100">
        <input matInput placeholder="营业时间" formControlName="businessHours">
      </mat-form-field>
      <mat-form-field class="w-100">
        <input matInput placeholder="费用说明" formControlName="cost">
      </mat-form-field>
      <mat-form-field class="w-100">
        <input matInput placeholder="地址" formControlName="address">
      </mat-form-field>
      <mat-form-field class="w-100">
        <input matInput placeholder="联系方式" formControlName="contact">
      </mat-form-field>
      <mat-form-field class="w-100">
        <textarea matInput placeholder="备注" formControlName="declaration"></textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious type="button">上一项</button>
        <button mat-button matStepperNext type="button">下一项</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>内容</ng-template>
    <app-custom-quill-editor [quillService]="sceneryService" formControlName="content"></app-custom-quill-editor>
      <div>
        <button mat-button matStepperPrevious type="button">上一项</button>
        <button mat-button type="button" (click)="submit()">提交</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</form>
