
  <div class="register">
      <div class="form-group">
          <label for="regstName">账号</label>
          <input type="text" class="form-control" id="regstName" placeholder="请输入你的账号">
      </div>
      <div class="form-group">
          <label for="regstPwd">密码</label>
          <input type="password" class="form-control" id="regstPwd" placeholder="请输入你的密码">
      </div>
      <div class="form-group">
          <label for="reRegstPwd">确认密码</label>
          <input type="password" class="form-control" id="reRegstPwd" placeholder="请再次输入你的密码">
      </div>
      <div class="form-group">
          <label for="random">验证码</label>
          <div class="form-inline">
              <input type="text" class="form-control col-sm-8" id="random" placeholder="请输入验证码">
              <img id="randomCode" class="col-sm-4 rounded" src="" />

          </div>
      </div>
      <button id="regstBtn" class="btn btn-secondary w-100">注册</button>
  </div>
