<div class="notes-list">
  <div class="container">
    <p class="notes-list-title my-3 text-secondary">游记推荐</p>
    <div class="row">
      <div class="card w-100 border-0">
        <div class="note-item text-left" *ngFor="let note of notes">
          <a [routerLink]="['/note/detailed',note.id]" class="note-link">
            <img class="note-img" [src]="note.coverUrl">
            <div class="note-overview">
              <div class="note-title">{{note.title}}</div>
              <div class="note-content" [innerText]="note.declaration">

              </div>
              <div class="opts">
                <span class="fa fa-user"> <span class="px-1">{{note.userNickname}}</span></span>
                <span class="fa fa-thumbs-up"><span class="px-1">{{note.praiseCount | numberSimplify}}</span></span>
                <span class="fa fa-star"><span class="px-1">{{note.collectionCount | numberSimplify}}</span></span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
