@import "/~src/assets/scss/varible";

$color: #f8f9fa;
.navbar {
  height: 56px;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
  .logo{
    text-align: left;
    max-width: 34px;
    img{
      width: 100%;
    }
  }
  @media screen and (max-width: $media-lg) {
    .navbar-collapse {
      position: fixed;
      top: 0;
      right: -16rem;
      width: 15rem;
      padding-top: 56px;
      padding-left: 16px;
      height: 100%;
      z-index: 99;
      background-color: $color;
      transition: right 0.5s;
      li{
        padding-left: 16px;
        &:last-child{
          border-bottom: 1px solid #e6e6e6;
        }
      }
    }
    .show {
      right: 0;
      transition: right 0.5s;
    }
  }

}
.overlay{
  display: none;
  position: fixed;
  width: 100%;
  padding-top: 2500px;
  background: rgba(0,0,0,.5);
  &.show{
    display: block;
  }
  @media screen and (min-width: $media-lg) {
    &.show{
      display: none;
    }
  }
}

    

