<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light shadow mb-1">
  <div class="container">
        <a routerLink="/index" routerLinkActive="active" class="navbar-brand logo">
           <img class="w-50 m-auto" src="./assets/img/logo.png">
       </a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse text-center"  id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a [routerLink]="['/index']" routerLinkActive="router-active" class="nav-link">主页</a>
              </li>
              <li class="nav-item">
                  <a [routerLink]="['/scenery']"  class="nav-link" >景点介绍</a>
              </li>
              <li class="nav-item">
                  <a [routerLink]="['/food']"  class="nav-link" >美食推荐</a>
              </li>
              <li class="nav-item">
                  <a [routerLink]="['/note']" class="nav-link" >旅游游记</a>
              </li>
              <li class="nav-item">
                  <a [routerLink]="['/introduction']"  class="nav-link">罗川简介</a>
              </li>
          </ul>
          <div class="navbar-nav" id="user-icon">
              <div class="nav-item" *ngIf="!islogin;else elseBlock">
                  <a class="btn btn-light" data-toggle="modal" data-target="#loginAndRegstModal">
                      <i class="fas fa-user"></i>
                  </a>
              </div>
              <ng-template #elseBlock>
              <div class="dropdown">
                  <a class="btn dropdown-toggle clear-after transparent-background p-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       <img class="nav-user-pic rounded-circle" src="./assets/img/userPic.png" [alt]="username" >
                   </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">设置</a>
                      <a class="dropdown-item" data-operating="exit" href="javascript:void(0)">退出</a>
                  </div>
              </div>
            </ng-template>
          </div>
      </div>
  </div>
</nav>