@import "/~src/assets/scss/mixin";

$bg-color: #ffffff;

#user-info {
  color: rgba(0, 0, 0, 0.5) !important;
  .user-tip{
    padding: 8px 12px 8px;
  }
  .user-pic {
    margin: 0.25rem 0;
    width: 40px;
    height: 40px;
  }

  .user-name {
    display: none;
  }

  a {
    text-decoration: none;
    display: block;
    margin: 0.25rem 0;
    color: rgba(0, 0, 0, 0.5) !important;
    padding: 4px;
    &:last-child{
      border-top: 1px solid #e6e6e6;
    }
  }
}


@include media(lg) {
  #user-info {
    position: relative;
    padding-top: 0;
    .user-name {
      display: block;
    }
    .user-tip {
      display: none;
    }
    &:hover {
      .user-tip {
        position: absolute;
        top: 36px;
        font-size: 14px;
        right: 16px;
        width: 160px;
        background-color: #ffffff;
        display: block;
        box-shadow: 0 0 1px 0 #908e8e;
      }
    }

  }
}
