<div class="navbar-nav" id="user-icon">
    <div class="nav-item" *ngIf="isLogin;else elseBlock">
        <a mat-button (click)="openDialog()" class="btn btn-light">
            <i class="fas fa-user"></i>
        </a>
    </div>
    <ng-template #elseBlock>
        <div id="userInfo" (mouseover)="logout()">
            <a class="btn transparent-background p-0" href="#">
                <span>{{username}}</span>
            </a>
            <div class="usertip" >
                <img class="nav-user-pic rounded-circle" src="./assets/img/userPic.png" [alt]="username" >
                <div>
                    <a class="">
                        <i class=""></i>
                        <span class=""></span>
                    </a>
                </div>
                <a class=""></a>
                <a class="" href="#">设置</a>
                <a class="" (click)="logout()" href="javascript:void(0)">退出</a>
            </div>
        </div>
    </ng-template>
</div>