<div class="navbar-nav" id="user-icon">
  <div class="nav-item" *ngIf="!isLogin;else elseBlock">
    <a mat-button (click)="openDialog()" class="btn btn-light">
      <i class="fas fa-user"></i>
    </a>
  </div>
  <ng-template #elseBlock>
    <div id="user-info">
          <span class="user-name btn">
          {{user.nickname}}
          </span>
      <div class="user-tip rounded">
        <div>
          <a [routerLink]="['/user', user.id]" >
             <img class="user-pic rounded-circle" [src]="user.picture" [alt]="user.username" >
          </a>
          <a [routerLink]="['/user', user.id]" [queryParams]="{select: 'news'}"><span class="fas fa-bell"></span> 消息({{countUnread}})</a>
          <a [routerLink]="['/user', user.id]" [queryParams]="{select: 'info'}"><span class="fas fa-home"></span> 个人中心</a>
          <a [routerLink]="['/user', user.id]" [queryParams]="{select: 'collection'}"><span class="fas fa-star"></span> 个人收藏</a>
          <a [routerLink]="['/user', user.id]" [queryParams]="{select: 'publish'}"><span class="fas fa-columns"></span> 我的发表</a>
          <a [routerLink]="['/note/publish',user.id]"><span class="fas fa-file"></span> 发表游记</a>
          <a href="javascript:void(0)" (click)="logout()"><span class="fa fa-sign-out-alt"></span> 退出登录</a>
        </div>
      </div>
    </div>
  </ng-template>
</div>
