h5,p,span{
  font-size: 14px;
  text-align: justify;
}
p{
  margin-bottom: .2rem;
}
.rpy-btn{
  cursor: pointer;
  font-size: 13px;
}
.comment-list-item{
  padding: 4px;
  margin-top: 16px;
  &:not(last-child){
    border-bottom: 1px solid #e6e6e6;
  }
}
.inp{
  width: 100%;
  resize: none;
}
.cmt-btn{
  margin-top: 8px;
}
.media{
  margin-top: .5rem;
  img{
    width: 48px;
    border-radius: 100%;
  }
  .media{
    img{
      width: 24px;
    }
  }
}
.media-footer{
  display: flex;
  .fl{

  }
  .fr{
    margin-left: auto;
  }
}
