<div class="container">
  <textarea [(ngModel)]="content" class="inp form-control" rows="3" placeholder="在这里输入你想说的话"></textarea>
  <input (click)="publish()" class="btn btn-success cmt-btn" type="button" value="发表评论">
  <div class="comment-list">
    <div class="comment-list-item">
      <div class="media" *ngFor="let comment of comments;let i = index ">
        <img class="align-self-start mr-3 user-picture" [src]="comment.userPicture" alt="Generic place holder image">
        <div class="media-body">
          <h5 class="mt-0"> {{comment.userNickname}} </h5>
          <p>{{comment.content}}</p>
          <div class="media-footer">
            <div class="fl">
              <span class="text-secondary">{{comment.commentTime | dateConvertPass}}</span>
            </div>
            <div class="fr text-secondary rpy-btn" (click)="openReplyDialog(comment.id)">详细评论</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
