h5, p, span {
  font-size: 14px;
  text-align: justify;
}

p {
  margin-bottom: .2rem;
}

.rpy-btn {
  cursor: pointer;
  font-size: 11px;
}

.comment-list-item {
  padding: 4px;
  margin-top: 16px;
}

.inp {
  width: 100%;
  resize: none;
}

.cmt-btn {
  margin-top: 8px;
}

.media {
  margin-top: .5rem;

  img {
    width: 36px;
    border-radius: 100%;
  }

  .media {
    img {
      width: 24px;
    }
  }
}

.media-footer {
  display: flex;

  &:not(last-child) {
    border-bottom: 1px solid #f0f0f0;
  }

  span {
    font-size: 11px;
    color: #6c757d;
  }

  .fr {
    margin-left: auto;
  }
}

