<div class="container">
  <textarea class="inp form-control" rows="3" placeholder="在这里输入你想说的话"></textarea>
  <input class="btn btn-success cmt-btn" type="button" value="发表评论" >
  <div class="comment-list">
    <div class="comment-list-item">
      <div class="media">
        <img class="align-self-start mr-3" src="../assets/img/userPic.png" alt="Generic place holder image">
        <div class="media-body">
          <h5 class="mt-0">Top-aligned media</h5>
          <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
          <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
          <div class="media-footer">
            <div class="fl">
              <span>time:2019.12.31 23:12:43</span>
            </div>
            <div class="fr" (click)="openReplyDialog('id')" style="cursor: pointer">回复</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
