<div class="login">
    <div class="form-group">
        <label for="loginName">账号</label>
        <input type="text" class="form-control" id="loginName" placeholder="请输入你的账号">
    </div>
    <div class="form-group">
        <label for="loginPwd">密码</label>
        <input type="password" class="form-control" id="loginPwd" placeholder="请输入你的密码">
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button id="loginBtn" class="btn btn-secondary w-100" (click)="onLogin()">登录</button>
</div>
<div class="alert alert-light float-right">
    <span>忘记密码了？点击<a class="alert-link" href="#">找回密码</a></span>
</div>