<h1 mat-dialog-title>发表游记</h1>
<div mat-dialog-content class="mat-typography">
  <div class="form-group">
    <label for="title">标题</label>
    <input class="form-control" type="text" placeholder="请输入标题" id="title">
  </div>
  <div class="form-group">
    <label for="file" class="upload-icon">+</label>
    <input type="file" class="d-none" id="file">
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn">取消</button>
  <button mat-raised-button color="warn">下一步</button>
</div>
