<div class="scenery">
  <div class="container">
    <div class="scenery_wrapper">
      <div class="text-center m-5">
        <h2 class="scenery-ttl">
          <span>景点推荐</span></h2>
        <div class="scenery-txt text-secondary">
          <p>
            罗源热门景点展示
          </p>
        </div>
      </div>
      <div class="scenery-list">
        <div class="row">
          <div class="col-lg-6 col-md scenery-item" *ngFor="let scenery of sceneries">
            <div>
              <a [routerLink]="['./',scenery.id]" class="box">
                <div class="item-img"
                     [ngStyle]="scenery.coverUrl?{'background-image':'url('+scenery.coverUrl+')'} : null"><p></p>
                </div>
              </a>
            </div>
            <div class="scenery-item-ttl">
              {{scenery.title}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
