<div class="scenery">
  <div class="container">
    <div class="scenery_wrapper">
      <div class="text-center m-5">
        <h2 class="scenery-ttl">
          <span>景点推荐</span></h2>
        <div class="scenery-txt text-secondary">
          <p>
            罗源热门景点展示
          </p>
        </div>
      </div>
      <div class="scenery-list">
        <div class="row">
          <div class="col-lg-6 col-md scenery-item">
            <div>
              <a [routerLink]="['./',1]" class="box">
                <div class="item-img" style="background-image: url('./assets/img/view/chentaiweigong.jpg')"><p></p>
                </div>
              </a>
            </div>
            <div class="scenery-item-ttl">
              陈太尉宫
            </div>
          </div>
          <div class="col-lg-6 col-md scenery-item">
            <div>
              <a [routerLink]="['./',2]" class="box">
                <div class="item-img" style="background-image: url('./assets/img/view/shexiangfengjingqu.jpg')"><p></p>
                </div>
              </a>
            </div>
            <div class="scenery-item-ttl">
              畲乡风景
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
