<div class="scenery">
  <div class="container">
    <div class="scenery_wrapper">
      <div class="text-center m-5">
        <h2 class="scenery-ttl">
          <span>景点推荐</span></h2>
        <div class="scenery-txt text-secondary">
          <p>
            我也不知道写些什么东西
          </p>
          <p>
            是真的不知道写什么
          </p>
        </div>
      </div>
      <div class="scenery-list">
        <div class="row">
          <div class="col-lg-6 col-md scenery-item">
            <div>
              <a [routerLink]="['./',1]" class="box">
                <div class="item-img" style="background: url('./assets/img/1.jpg')">
                  <p>
                  罗源湾海洋世界海上搏斗
                  </p>
                </div>
              </a>
            </div>
            <div class="scenery-item-ttl">
              这是一个景点的标题 这是一个景点的标题 这是一个景点的标题 这是一个景点的
            </div>
          </div>
          <div class="col-lg-6 col-md scenery-item">
            <div>
              <a [routerLink]="['./',2]" class="box">
                <div class="item-img" style="background: url('./assets/img/1.jpg')">
                  <p>
                  罗源湾海洋世界海上搏斗
                  </p>
                </div>
              </a>
            </div>
            <div class="scenery-item-ttl">
              这是一个景点的标题 这是一个景点的标题 这是一个景点的标题 这是一个景点的
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
