<div class="food">
    <div class="container">
      <div class="food_wrapper">
        <div class="text-center m-5">
          <h2 class="food-ttl">
            <span>美食推荐</span></h2>
          <div class="food-txt text-secondary">
            <p>
              罗源热门美食展示
            </p>
          </div>
        </div>
        <div class="foods-list">
          <div class="food-item" *ngFor="let food of foods">
            <a [routerLink]="['./',food.id]" class="box">
              <div class="item-img" [ngStyle]="food.coverUrl?{'background-image':'url('+food.coverUrl+')'} : null"></div>
              <div class="food-mate text-center">
                <div class="food-cat-warp text-center">
                  <span>街头小吃</span>
                  <span>价格实惠</span>
                  <span>多年老店</span>
                </div>
                <h1 class="food-title">{{food.title}}
                  <p>{{food.declaration}}</p>
                </h1>
              </div>
            </a>
          </div>
        </div>
      </div>
      <span class="clearfix"></span>
    </div>
  </div>
