<div class="food">
  <div class="foods-list">
    <div class="food-item">
      <a [routerLink]="['./',1]" class="box">
        <div class="item-img" style="background-image: url('./assets/img/foods/ccyy.jpg')"></div>
        <div class="food-mate text-center">
          <div class="food-cat-warp text-center">
            <span>街头小吃</span>
            <span>价格实惠</span>
            <span>多年老店</span>
          </div>
          <h1 class="food-title">岱岱有余
            <p>吃了还会吃第二次的美食</p>
          </h1>
        </div>
      </a>
    </div>

    <div class="food-item">
      <a [routerLink]="['./',1]" class="box">
        <div class="item-img" style="background-image: url('./assets/img/foods/zhuti.jpg')"></div>
        <div class="food-mate text-center">
          <div class="food-cat-warp text-center">
            <span>街头小吃</span>
            <span>价格实惠</span>
            <span>多年老店</span>
          </div>
          <h1 class="food-title">金膀蹄名
            <p>吃了还会吃第二次的美食</p>
          </h1>
        </div>
      </a>
    </div>
    <div class="food-item">
      <a [routerLink]="['./',1]" class="box">
        <div class="item-img" style="background-image: url('./assets/img/foods/wufan.jpg')"></div>
        <div class="food-mate text-center">
          <div class="food-cat-warp text-center">
            <span>街头小吃</span>
            <span>价格实惠</span>
            <span>多年老店</span>
          </div>
          <h1 class="food-title">畲家乌饭
            <p>吃了还会吃第二次的美食</p>
          </h1>
        </div>
      </a>
    </div>
  </div>
</div>
<span class="clearfix"></span>
