<div fxLayout="row wrap" #resizedDiv>
    <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50" class="p-2">
        <mat-card class="p-0 gradient-purple">
            <div class="py-2 px-3" fxLayoutAlign="space-between center">
                <p>15日新增用户数量图</p>
                <div fxLayoutAlign="center center">
                    <mat-icon class="icon-sm mx-1">trending_up</mat-icon>
                    <span>38%</span>
                </div>
            </div>         
            <div class="w-100 h-100p">
                <ngx-charts-bar-vertical
                    [scheme]="colorScheme"
                    [results]="users"
                    (select)="onSelect($event)">
                </ngx-charts-bar-vertical>                   
            </div>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50" class="p-2">
        <mat-card class="p-0 gradient-teal">
            <div class="py-2 px-3" fxLayoutAlign="space-between center">
                <p>15日新增游记数量图</p>
                <div fxLayoutAlign="center center">
                    <mat-icon class="icon-sm mx-1">trending_up</mat-icon>
                    <span>16%</span>
                </div>
            </div>          
            <div class="w-100 h-100p">
                <ngx-charts-line-chart
                    [scheme]="colorScheme"
                    [results]="notes"
                    [autoScale]="autoScale"
                    (select)="onSelect($event)">
                </ngx-charts-line-chart>                  
            </div>
        </mat-card>
    </div>
</div>
