<app-content-header
  [icon]="'supervisor_account'"
  [title]="'美食管理'"
  [desc]="'浏览，新增，修改，删除，美食信息'"
  [hideBreadcrumb]="false"
  [hasBgImage]="true"
  [class]="'pb-5'"></app-content-header>
<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center"
             class="px-2 bg-transparent" style="height: 40px;margin-top: -40px">
  <div fxLayout="row">
    <button mat-icon-button [routerLink]="'./food'">
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>
<mat-drawer-container class="page-wrapper">
  <div fxLayout="column" class="p-2">
    <div class="p-2">
      <mat-table #table [dataSource]="foods" class="mat-elevation-z8">
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef> 标题</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="topic">
          <mat-header-cell *matHeaderCellDef> 主题</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.topic}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="ops">
          <mat-header-cell *matHeaderCellDef> 操作</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-icon  (click)="jump(element.id)" style="cursor: pointer">visibility</mat-icon>
            <mat-icon class="mx-2" style="cursor: pointer" (click)="delete(element.id)">delete_forever</mat-icon>
            <mat-icon style="cursor: pointer" (click)="openMapDialog(element.id)">map</mat-icon>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
</mat-drawer-container>
