<footer class="footer mbg-color shadow p-4 mt-4"#footer>
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-4">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="http://you.ctrip.com/place/Luoyuan2663.html">携程旅游</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="https://travelsearch.fliggy.com/index.htm?searchType=product&keyword=%E7%BD%97%E6%BA%90">飞猪旅行</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="http://s.lvmama.com/route/H155K350200?keyword=罗源&k=0#list">驴妈妈旅游</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="http://waimai.meituan.com/">美团外卖</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="https://www.ele.me/home/">饿了么外卖</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="http://waimai.baidu.com/waimai?qt=find&city=&cid=194&cname=%E7%BD%97%E6%BA%90">百度外卖</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="http://www.luoyuanlyj.com/">罗源县旅游局</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="http://lyx.fuzhou.gov.cn/">罗源县政府</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="http://www.lywzc.com/">罗源湾之窗</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="copyright text-center mt-2">
            &copy;2018-2019
        </div>
    </div>
</footer>
