label {
  font-size: 14px;
  color: #91979e;
}

.birthday-warp {
  position: relative;
  .mat-datepicker-toggle {
    position: absolute;
    top: 28px;
    right: 0;
  }
}
.ops{
  height: 38px;
}

.form-control{
  font-size: 14px;
  font-weight: 500;
  color: black;
  background-color: #00000000;
  border-color: transparent;
}
.lock{
  background-color: #ffffff;
  border-color: #e6e6e6;
}
*{
  transition: all 2s;
}
