@import "/~src/assets/scss/mixin";
.warp{
  column-width: 260px;
}
.item{
  height: 100%;
  overflow: auto;
  padding: 7px;
  a{
    text-decoration: none;
  }
}
.note-card {
  .note-header-image {
    width: 30px;
    height: 30px;
  }

  .mat-card-header {
    .mat-card-subtitle,
    .mat-card-title{
      font-size: 12px;
      margin-bottom: 4px;
    }
  }

  .mat-card-footer {
    display: flex;
    flex-direction: row;

    .mat-card-time {
      margin-left: auto;
      margin-right: 16px;
      color: #adb5bd;
      font-size: 11px;
    }
  }
}

.note-header-image {
  background-image: url('../../../assets/img/userPic.png');
  background-size: cover;
}
