<div class="notes">
  <div class="container">
    <div class="note-head">
      <app-search (search)="search($event)"></app-search>
    </div>
    <div class="warp" #warp>
      <div class="item"  *ngFor="let note of notes">
        <a [routerLink]="['./detailed',note.id]">
          <mat-card class="note-card">
            <img mat-card-image="" [src]="note.coverUrl"
                 [alt]="note.title">
            <mat-card-content >
              测试一下顺序
            </mat-card-content>
            <mat-card-header>
              <div mat-card-avatar="" class="note-header-image"
                   [ngStyle]="{'background-image':'url('+note.userPicture+')'}"></div>
              <mat-card-title [innerText]="note.userNickname"></mat-card-title>
              <mat-card-subtitle [innerText]="note.title"></mat-card-subtitle>
            </mat-card-header>

            <mat-card-footer>
              <span class="mat-card-time" [innerText]="note.updateTime | date"></span>
            </mat-card-footer>
          </mat-card>
        </a>
      </div>
    </div>
  </div>
</div>
