<div class="notes">
  <div class="container">
    <div class="note-head">
      <app-search (search)="search($event)"></app-search>
    </div>
    <div class="warp" >
      <div class="item"  *ngFor="let note of notes">
        <a [routerLink]="['./detailed',note.id]">
          <mat-card class="note-card">
            <img mat-card-image="" [src]="note.coverUrl"
                 [alt]="note.title">
            <mat-card-content >
              <div>{{note.title}}</div>
              <p style="color: #aaa;">{{note.declaration}}</p>
            </mat-card-content>
            <mat-card-header>
              <div mat-card-avatar="" class="note-header-image"
                   [ngStyle]="{'background-image':'url('+note.userPicture+')'}"></div>
              <mat-card-title [innerText]="note.userNickname"></mat-card-title>
              <mat-card-subtitle>
                <span class="opts-up">
                  <span class="fas fa-thumbs-up"></span>
                  <span class="pl-1"> {{note.praiseCount | numberSimplify}}</span>
                </span>
                <span class="opts-star">
                  <span class="fas fa-star ml-2"></span>
                  <span class="pl-1"> {{note.collectionCount | numberSimplify}}</span>
                </span>
              </mat-card-subtitle>
            </mat-card-header>

            <mat-card-footer>
              <span class="mat-card-time" [innerText]="note.createTime | dateConvertPass"></span>
            </mat-card-footer>
          </mat-card>
        </a>
      </div>
    </div>
    <ng-container *ngIf="!hasNextPage">
      <div class="text-center clearfix my-3 text-secondary ">
        没有其他游记了哦~
      </div>
    </ng-container>
  </div>
</div>
