@import "/~src/assets/scss/mixin";
.list-horizontal{
  & > *{
    padding: 1em 0;
    border-bottom: 1px solid #CCC;

  }
  dd{
    margin-bottom: 0;
  }
}
.map{
  height: 300px;
  width: 100%;
  display: block;
  @include media(md){
    height: 400px;
  }

}
