<app-banner isSubBanner="true" [banner]="banner">
</app-banner>
<div class="container">
  <div class="row px-2">
    <div class="col-12 p-0">
      <div class="col-md-12 col-lg-9 p-0">
        <div class="header pt-5 pb-4">
          <h2 class="title">街头油饼</h2>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-9">
      <dl class="row list-horizontal">
        <dt class="col-3">美食名称</dt>
        <dd class="col-9">叮当鬼</dd>
        <dt class="col-3">营业时间</dt>
        <dd class="col-9">平日时间9:00-17:30；节假日时间：8:30-18:00</dd>
        <dt class="col-3">费用说明</dt>
        <dd class="col-9">一个1.5元</dd>
        <dt class="col-3">地址</dt>
        <dd class="col-9">罗源县医院门口</dd>
        <dt class="col-3">电话号码</dt>
        <dd class="col-9">暂无</dd>
        <dt class="col-3">备注</dt>
        <dd class="col-9">油炸食品，少食</dd>
      </dl>
      <h2>地图</h2>
      <div class="map-warp">
       <baidu-map  class="map" [options]="mapOptions">
         <marker [point]="markers[0].point"  (clicked)="showWindow($event)" (loaded)="setAnimation($event)"></marker>
         <control type="navigation" [options]="controlOpts"></control>
         <control type="geolocation" [options]="geolocationOpts"></control>
       </baidu-map>
      </div>
    </div>
    <div class="col-lg-3 d-none d-lg-block">
      <img src="./assets/img/2.jpg" class="img-thumbnail" alt="" (click)="showPreview()">
    </div>
  </div>
</div>
