<app-banner isSubBanner="true" [banner]="banner">
</app-banner>
<div class="container">
  <div class="row px-2">
    <div class="col-12 p-0">
      <div class="col-md-12 col-lg-9 p-0">
        <div class="header pt-5 pb-4">
          <h2 class="title">{{food.title}}</h2>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-9">
      <dl class="row list-horizontal">
        <dt class="col-3">美食名称</dt>
        <dd class="col-9">{{food.name}}</dd>
        <dt class="col-3">费用说明</dt>
        <dd class="col-9">{{food.cost}}</dd>
        <dt class="col-3">地址</dt>
        <dd class="col-9">{{food.address}}</dd>
        <dt class="col-3">备注</dt>
        <dd class="col-9">{{food.declaration}}</dd>
      </dl>
      <div class="content" [innerHTML]="food.content"></div>
      <h2>地图</h2>
      <div class="map-warp">
        <ng-container *ngIf="map">
          <baidu-map  class="map" [options]="mapOptions" >
            <marker [point]="markers[0].point"  (clicked)="showWindow($event)" (loaded)="setAnimation($event)"></marker>
            <control type="navigation" [options]="controlOpts"></control>
            <control type="geolocation" [options]="geolocationOpts"></control>
          </baidu-map>
        </ng-container>
      </div>
    </div>
    <div class="col-lg-3 d-none d-lg-block">
      <img  [src]="food.coverUrl" class="img-thumbnail" alt="" (click)="showPreview()">
    </div>
  </div>
</div>
